#operationsSelect {
    border: 2px solid black;
    position: absolute;
    width: auto;
    font-size:larger;
    background-color: #FFFFFF
}
#nwc24Select {
    border: 2px solid black;
    position: absolute;
    left: 162px;
    font-size:larger;
    background-color: #FFFFFF
}
#deviceInfoSelect {
    border: 2px solid black;
    position: absolute;
    left: 257px;
    font-size:larger;
    background-color: #FFFFFF
}
#soundSelect {
    border: 2px solid black;
    position: absolute;
    left: 381px;
    font-size:larger;
    background-color: #FFFFFF
}
#titleInfoSelect {
    border: 2px solid black;
    position: absolute;
    left: 461px;
    font-size:larger;
    background-color: #FFFFFF
}

#nwc24Div {
    display: none;
}
#deviceInfoDiv {
    display: none;
}
#soundDiv {
    display: none;
}

